div#home > .introduction > h1 {
    margin-bottom: 50px;
}

div#home > .introduction > p {
    word-break: break-word;
    font-weight: 400;
    color: #666;
    font-size: 1.2rem;
}

div#home > .function {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

div#home > .function > .function-user,
div#home > .function > .function-product {
    border: 1px solid rgba(0,0,0,.1);
    font-size: 14px;
    width: 80%;
    padding: 24px 16px;
    border-radius: 8px;
    flex: 0 1 auto;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 340px;
}

@media (max-width: 1024px){
    div#home > .function {
        display: flex;
        flex-direction: column;
        padding: inherit;
    }

    div#home > .function > .function-user,
    div#home > .function > .function-product {
        margin-top: 15px;
        width: 100%;
    }
}