

/**
*
*   Login
*
*/

div#login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}


div#login > div#login-form,
div#login > div.info-usuario {
    grid-column: 2;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    display: grid;
}

div#login > div#login-form > img {
    max-width: 200px;
    grid-row: 1;
    margin: 0 auto;
}

div#login > div#login-form > .login-form-send {
    display: grid;
}

div#login > div#login-form > form > .form-group {    
    display: flex;
}

div#login > div#login-form > form > .form-group > label { 
    color: #9831FE;
    display: none;
}

div#login > div#login-form > form > button,
div#login > div#login-form > button {
    margin: 10px;
}

div#login > div#login-form > form > .form-group > input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
    margin: 0px 10px;
}
  
div#login > div#login-form > form > .form-group > input:focus{
    outline: 0;
    background: #eee;
}

div#login > div#login-form > form > .form-group > input[type="email"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

div#login > div#login-form > form > .form-group > input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

div.info-usuario {
    min-height: 300px;
    margin: 0 auto;
	display: flex;
    align-items: center;
    align-content: center;
}

div.info-usuario > p,
div.info-usuario > span {
    flex: 1;
    margin-bottom: 15px;
}

div.info-usuario > span {
    font-size: 1rem;
    margin-bottom: 25px;
}

div.invalid-feedback {
    text-align: center;
    color: #c54fac;
    font-weight: bold;
}

@media (max-width: 762px) {
    div#login {
        display: block;
        width: inherit;
        margin: 0px;
    }
}
