/**
*
*   Layout
*
*/

body, ul, li, p {
    margin: 0px;
    padding: 0px;        
    font-size: 1.2rem;
    list-style: none;
    font-family: Arial
}

main {
    background-color: #ebebeb;
}

a {
    text-decoration: none;
}

button.btn.btn-primary {
    border: 2px solid #a226ff;
    background-color: #9831FE ;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;

    -webkit-transition: font-size 0.2s, -webkit-transform 0.2s;
    transition: font-size 0.2s, transform 0.2s;
}

button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
    font-size: 1.5rem;
}

button.btn.btn-secondary {
    border: 2px solid #a226ff;
    background-color: #fff ;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 10px;
    color: #9831FE;
    cursor: pointer;
    -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
    transition: background-color 0.2s, transform 0.2s;
}

button.btn.btn-secondary:hover,
button.btn.btn-primary:focus {
    background-color: #a126ff1e ;
}

textarea {
    background: #fafafa;
    transition:0.2s ease-in-out;
}

textarea:focus {
    outline: 0;
    background: #eee;
}